* {
  font-family: "Sahel", sans-serif;
  
}

@font-face {
  font-family: "Sahel";
  src: url("../public/fonts/Sahel-Bold-FD.woff2") format("woff2"),
    url("../public/fonts/Sahel-Bold-FD.woff") format("woff");
}
